#ark {
    font-family: Arial, sans-serif;
    color: black;
    margin: 0 auto;
    max-width: 800px;
    }

    #ark .company {
    font-weight: bold;
    }

    #ark h1, h2 {
    text-align: left;
    }

    #ark p {
    line-height: 1.5;
    margin: 1em 0;
    }

    #ark .vejnavn, .postnummer, .cvr, .telefon, .email {
    font-style: italic;
    }

    #ark .betalingsformer {
    font-style: italic;
    font-weight: bold;
    }

    #ark .leveringsbetingelser {
    font-style: italic;
    margin: 1em 0;
    }