.order-complete__container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.order-complete__container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.order-complete__container p {
    font-size: 18px;
    margin-bottom: 10px;
}

/* .order-complete__container span {


} */