

main {
  width: 100vw;
  min-height: calc(100vh - 80px);
  background-color: grey;
  position: relative;

  overflow-y: auto;
}

.grid-container {
  position: absolute;
  /* margin: 40px; */


  width: 100%;
  height: calc(100vh - 80px);

  display: grid;
  grid-template-columns: 200px 250px;
  grid-auto-rows: minmax(150px, auto);
  grid-column-gap: 10px;
  grid-gap: 20px;

}

.grid-item {
  padding: 30px;
  font-size: x-large;
  background-color: rgb(0, 119, 255);
  border: 2px solid white;
  content: "Grid Item";
  overflow: hidden;
  
}

.grid-item-1 {
  grid-column: span 1 ;
}

.grid-item-2 {
  grid-row: span 2;
  /* grid-row-start: 2;
  grid-row-end: 4; */
}

.grid-item-3 {
  /* grid-row-start: 2; */

}