body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

main {
  position: relative;
  width: 100vw;
  height: calc(100vh - 80px);
  text-align: left;
}

.profile-container {
  display: grid;
}

#profile-picture {
  width: 80%;
  max-width: 600px;

}

#profile-description-container {
  
}