# Tillad ikke at kunne se fil struktur
# Options -Indexes

Order Deny,Allow
Deny from all
Allow from 10.0.0.0/8
Allow from 172.16.0.0/12
Allow from 192.168.0.0/16
Allow from 80.167.68.32

# Quickpay - callback
Allow from 193.162.142.0/24

# Vinkelvej
Allow from 80.161.155.226

# tec ballerup fw-s01.tec.dk
# lyt til incoming request tcpdump dst port 443 -n
# Allow from 185.26.61.45

# Julian adgang til Julian
Allow from 87.59.235.56

# DTU
Allow from 192.38.90.76