main {
  width: 100%;
}

.home {
  max-width: 100%;
  height: calc(100vh - 80px);
  background-color: #f7f7f7;
}

.home-grid {
  width: calc(100% - 0px);
  height: inherit;  
  display: grid;
  grid-template-columns: 1fr 1fr;  
}

.home-column-1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-column-1-content {
  position: relative;
}

.home-column-1-content > img {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.home-column-1-content-firstname {
  /* position: absolute; */
  /* top: 0; */

}

.home-column-2 {
  display: grid;
  align-items: center;
  justify-content: center;
}

.home-column-2-book {
  width: 500px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-column-2-book-buybox-outer {
  width: 40vw;
  height: 40vh;
  max-width: 60%;
  max-height: 30vh;
  background-color: #f2f2f2;
  border-radius: 0px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-column-2-book-buybox-inner-picture {

  height: auto;
  text-align: center;
}


.home-column-2-book-buybox-inner-picture > * {
  max-width: 50%;
  height: auto;
  text-align: center;
}

.home-column-2-book-buybox-inner-description {
  
}

.home-column-2-book-buybox-inner-container {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-column-2-book-buybox-inner-container-price {
  position: relative;
  left: 20px;
  margin-top: 10px;
  font-size: 14px;
  font-family: sans-serif;
  padding: 5px 7px;
}

.home-column-2-book-buybox-inner-container-buy-btn {
  background-color: #f9a320;
  border: 1px solid #fff;
  padding: 5px 7px;
  color: #fff;
  box-shadow: 0 0 1px 1px rgb(249 163 32 / 50%);
  border-radius: 4px;
  cursor: pointer;
}

.home-column-2-book-1 {

}

.home-column-2-book-2 {

}

.home-grid-column-2 {

  
}

::-webkit-scrollbar {
  /* width: 1px; */
}

.about {
  width: calc(100% - 0px);
  height: 100vh;
  background-color: beige;
  margin: 0 auto;
}

.book-1 {
  width: calc(100% - 0px);
  height: 100vh;
  background-color: forestgreen;
  margin: 0 auto;
}

.book-2 {
  width: calc(100% - 0px);
  height: 100vh;
  background-color: purple;
  margin: 0 auto;
}