main {
  width: 100vw;
  min-height: calc(100vh - 80px);
  background-color: grey;
  position: relative;

  overflow-y: auto;
}

.grid-container {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 300px 1fr 3fr;
  grid-template-areas: 
  "title title title"
  "main header header"
  "main sidebar footer";
  row-gap: 10px;
  column-gap: 10px;

}

.page-title {
  grid-area: title;
  background-color: aqua;
  
}

.masthead {
  grid-area: header;
  background-color: black;
}

.main-content {
  grid-area: main;
  background-color: red;
}

.sidebar {
  grid-area: sidebar;
  background-color: brown;
}

.footer {
  grid-area: footer;
  background-color: blueviolet;
}